#choose-winner {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:"Pixelify Sans", sans-serif;
    font-size: large;
    color: blue;
    background-color: rgb(196, 230, 237);
}

#title {
    color: blue;
}

#intro {
    color: blue;
}
#timer {
    padding: 10px;
    border: solid 2px red;
    border-radius: 6px;
    color: red;
    background-color: aliceblue;
}

#canvas {
    margin-bottom: 30px;
    border: solid 5px rgb(255, 238, 0);
    border-radius: 6px;

}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}